html, body
{
    font-family: 'Cairo', sans-serif;
    background-color: white;
     height: 100%; /* لجعل الصفحة تمتد بالكامل */
    display: flex;
    flex-direction: column;
}

.btn-success
       {
      background-color: #00A650;
      border-color: #00A650;
      border-radius: 10px ;
      height: 50px;
      margin-top: 20px;
      }

.btn-primary
       {
      background-color: #00A650 !important;
      border-color: #00A650 !important;
      
      
       }
       .btn-primary:active
       .btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited
       {
      background-color: #038e46 !important;
      border-color: #00A650 !important;
      box-shadow: none; /* إزالة الظل */
    outline: none; /* إزالة التحديد */
      
       }
       



.search-container {
    margin: 75px auto;
    text-align: center;
     flex: 1;
    
  }

.form-control
{
      
    height: 50px;
        box-shadow: 5px 5px 5px ;
        border-radius: 15px;
        opacity: 50%;      
}

@media (min-width: 992px) {
    .input-group {
        width: 50% !important;
        
    }
}

/*rcc link*/
.link
{
    text-underline-offset: none !important;
    text-decoration: none !important;
    color: #fff;
}
.btn-outline-success
{
    box-shadow: 0px 5px 5px  0px;
        border-radius: 15px;
        color: #000;
        opacity: 50%;
        
}


/* إجبار الـ footer على البقاء في الأسفل */
.footer {
    background-color: black;
    padding: 20px 50px;
    text-align: center;
    width: 100%;
    margin-top: auto; /* يجعل الـ Footer دائمًا في الأسفل */
    z-index: 10; /* أعلى من العناصر الأخرى */
    position: relative; /* مطلوب لتفعيل z-index */
   
}


.alert-custom {
    width: 50%;
    margin: auto; /* Centers the alert horizontally */
}
  
/*خلفية تسجيل الدخول*/
 /* العرض على الشاشات الصغيرة يكون 100% */
 .custom-width {
    width: 100%;
    margin-top: 15px ;
    margin-right: 15px;
    margin-bottom: 15px;
    max-width: 400px; 
    justify-content: center;
    justify-items: center;
     
}

/* العرض على الشاشات الكبيرة وما فوق يكون 25% */
@media (min-width: 992px) {
    .custom-width {
        width: 25%;
         margin: 30px 30px 30px 30px;
         max-width: 400px; 
         justify-content: center;
     justify-items: center;
    }
}
